{% extends 'layout.html' %} {% block content %} {% from "_formhelpers.html"
import render_field %}
<style>
  #login {
    color: #3c5aa6;
  }
</style>
<form method="POST" action="{{url_for('users.login')}}" role="form">
  {{ form.hidden_tag() }} {{ render_field(form.email, class='form-control') }}
  {{ render_field(form.password, class='form-control') }} {{
  render_field(form.remember, class='m-auto form-check-input') }}

  <button type="submit" class="button" id="rcorners1">
    <span>Log in</span>
  </button>
</form>
<div class="border-top pt-3">
  <small class="text-muted">
    Don't you have an account?
    <a class="ml-2" href="{{ url_for('users.register')}}">Sign in</a>
  </small>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
    <a href="{{ url_for('users.reset_request') }}">Reset username / password</a>
  </small>
</div>
{% endblock %}