{% extends 'layout.html' %} {% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img"
        src='{{ url_for("static", filename="profile_pic/"+post.author.image_file) }}' />
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>
        <div class="container-fluid">
            <div class="w-100 d-flex justify-content-around my-3 stats">
                {% for pokemon in post.pokemons %}
                <div class="d-flex flex-column">
                    <img src="{{pokemon.sprite}}" />
                    <p><i class="far fa-heart healt-points"></i> = {{pokemon.hp}}</p>
                    <p>
                        <span class="material-icons defense"> security </span> =
                        {{pokemon.defense}}
                    </p>
                    <p>
                        <img src="{{url_for('static',filename='images/atk.png')}}" class="icon attack" />
                        = {{pokemon.attack}}
                    </p>
                    <p>
                        <img src="{{url_for('static',filename='images/atk.png')}}" class="icon spec-attack" />
                        = {{pokemon.special_attack}}
                    </p>
                    <p>
                        <span class="material-icons spec-defense"> security </span> =
                        {{pokemon.special_defense}}
                    </p>
                    <p>
                        <img src="{{url_for('static',filename='images/speed.png')}}" class="icon speed" />
                        = {{pokemon.speed}}
                    </p>
                </div>
                {%endfor%}
            </div>

        </div>
    </div>
</article>
<div class="px-0 mx-0">
    {% from "_formhelpers.html" import render_field %} {% if
  current_user.is_authenticated %}

    <form method="POST" action="" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {{ render_field(form.body, class='form-control') }}

        <button type="submit" class="button">Pubblica</button>
    </form>
</div>
{% endif %}
<legend class="border-bottom mb-4">
    <h5>{{ legend }}:</h5>
</legend>
<div class="container bg-white">
    {% for comment in comments %}

    <div class="border-bottom border-info">
        <h5 class="border-bottom pb-3">{{comment.author}}</h5>
        {{comment.content}}
        <div class="d-flex flex-row-reverse">
            il {{ comment.date_posted.strftime('%d-%m-%Y') }}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}